doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet" type="text/css" href="./css/apiMain.css")
  body
    div(class="mw")
      ul
        li JsonDB (1)
        li JSON RESTFUL STORE
        li JsonDB (1)
      h2 JsonDB
      p #[strong jsondb.ml] - A simple personal JSON Store as a RESTful API Service.
      h2 SYNOPSIS
      p fetch #[strong https://jsondb.ml/crawford/blog]
      h2 Access
      p To save data, you'll first need to <a href="#">sign in</a> to get an API key. All examples below use example as the username.
      h2 description
      p #[strong jsondb.ml] is a personal key/value JSON store as a service. Protected behind authentication and API key requests, data is stored as JSON and can be deep linked. A permissioning model also allows specific paths to your store to become public to share with others.
      p The aim of the project is to provide a simplified data store for tinkerers.
      p #[strong Important]: JsonDB is currently in open beta. If you have questions, please get in touch.
      h2 Authentication 
      p
        | By default all user store data is protected behind auth either via browser sign in, or an authorization token. The token is your 
        a(href="#") apikey
        |. For example:
      pre.
       curl -X POST https://jsondb.ml/example/blog \
            -H 'authorization: token abcd-xyz-123' \
            -d '{ url: "https://remysharp.com" }'
      p 
        |To use JsonDB in the browser, it's recommended that you use a 
        a(href="#") bearer
        |  token with a limited expiry:  
      pre.
        fetch('https://jsondb.ml/me/urls', {
          headers: {
            // example uses 1 minute token restricted to `urls` path
            authorization: 'Bearer [token]',
          }
        }).then(res => res.json()).then(res => {
          console.log(res);
        });
      h2 ENDPOINTS
      p A private namespace URL "_" is used for JsonDB specific endpoints:
      p
        |<a href="#">#[strong /me]</a> Alias to your #[strong /example] path.</br>
        |<a href="#">#[strong /_/me]</a> Your full profile.</br>
        |<a href="#">#[strong /_/me/apikey]</a> Your API key.</br>
        |<a href="#">#[strong /_/me/apikey]</a> #[strong DELETE] to revoke your current key.</br>
        |<a href="#">#[strong /_/me/username]</a> Your username.</br>
        |<a href="#">#[strong /_/me/public]</a> Your public paths.</br>
        |<a href="#">#[strong /_/me/:path]</a> Deep link to profile properties.</br>
        |<a href="#">#[strong /_/bearer(?exp=ms&path=…)]</a> Generate a bearer token (for client use)</br>
        |<a href="#">#[strong /_/help]</a> This page.</br>
        |<a href="#">#[strong /_/version]</a> Current JsonDB version.</br>
        |<a href="#">#[strong /_/login]</a> Auth with github.</br>
        |<a href="#">#[strong /_/logout]</a> Clear your session.</br>
      p The following methods with your #[strong authorization] header will access your data store:
      p.
        #[strong GET] return given path mapped to a JSON path.</br>
        #[strong POST] store the payload (supports JSON and files).</br>
        #[strong PATCH] merge the payload with the endpoint.</br>
        #[strong DELETE] store path.
      p For example:
      pre.
        curl -X PATCH \
             -H 'authorization: token abcd-xyz-123' \
             -d'{ "topic": "code" }' \
             https://jsondb.ml/example/blog
      p By default all endpoints are private, but you can modify a specific entry point to be public by default by changing the permissions:
      p.
        PUT #[strong /example/:path/_perms] make the #[strong :path] public.</br>
        DELETE #[strong /example/:path/_perms] make #[strong :path] private.</br>
        GET #[strong /example/:path/_perms] check permissions of #[strong :path].</br>
      p Public endpoints accept #[strong GET] requests without the authorization header.
      h2 NOTES ON PATCH 
      p The #[strong PATCH] method implements the JSON Merge Patch standard (<a href="#">RFC 7396</a>) when the target endpoint is an #[strong object]. This means if you wish to remove a property from your store, a value of #[strong null] is sent:
      pre.
        curl -X PATCH \
             -H 'authorization: token abcd-xyz-123' \
             -d'{ "title": null }' \
             https://jsondb.ml/example/blog
      p The exception is that when the endpoint is an array, a #[strong PATCH] will <i>always</i> push onto the endpoint. If you need to reset the array you can #[strong POST] to the endpoint, or you can #[strong DELETE] an <a href="#">individual array element</a>.  
      h2 EXAMPLE STORING FILES
      p You can use JsonDB as a shared clipboard across machines. Creating an alias to upload #[strong STDIN] via #[strong curl] could be posted to a public URL:
      pre.
        alias jsondb="curl -X 'POST' \
              -H'authorization: token abcd-xyz-123' \
              -F'content=@-' \
              https://jsondb.ml/denyncrawford/clipboard"
        echo "foo" | jsondb
      h2 EXAMPLE WITH ARRAYS
      p As well as objects, arrays are also supported. To delete an array element, it should be accessed using the index as per:
      pre curl -X DELETE https://jsondb.ml/example/urls/1
      p To #[strong push] a new element, so long as the endpoint contains an array:
      pre.
        curl -X PATCH https://jsondb.ml/example/urls \
             -d "foo.com"
      h2 BUGS
      p This project lives at <a href="#">jsondb</a>. Please report bugs to <a href="#">jsondb/issues</a>.
      h2 AUTHOR
      p Denyn Crawford <a href="#">denyncrawford@protonmail.com</a>
      ul
        li 
        li 2018
        li JsonDB (1)
