doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Description')
    link(rel='icon', href='../assets/logo.png')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', href='//unpkg.com/docsify/themes/vue.css')
    style(media='screen').
      :root {
      --theme-color: #FF1A68;
      }
  body
    #app
    script.
      window.$docsify = {
      el: '#app',
      name: 'Graviton',
      search: 'auto',
      search : [
      '/',
      'quickstart.md'
      ],
      nameLink: '/',
      auto2top: true,
      repo: 'https://github.com/Graviton-Code-Editor/Graviton-App',
      loadSidebar: true,
      subMaxLevel: 2
      }
    script(src='//unpkg.com/docsify/lib/docsify.min.js')
    script(src='//unpkg.com/docsify-pagination/dist/docsify-pagination.min.js')
    script(src='//unpkg.com/docsify/lib/plugins/search.min.js')
    script(src='//unpkg.com/docsify/lib/plugins/zoom-image.min.js')
    script(src='//unpkg.com/prismjs/components/prism-bash.min.js')
    script(src='//unpkg.com/docsify-copy-code')
