doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet" type="text/css" href="./css/main.css")
    link(rel="stylesheet" type="text/css" href="./css/icons.css")
    link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
  body
    nav
      div(class="left side")
        div(class="title")
          h2 <span class="blue">{ </span>json<span class="blue">db</span><span class="blue"> }</span>
      div(class="right side")
        div(class="rightChilds menu")
          ul
            li <a href="#">Docs</a>
            li <a href="#">Uses</a>
            li <a href="#">Pricing</a>
            li <a href="#">Support</a>
        div(class="rightChilds clientArea")
          button(class="user") Get Started
    section(id="home" class="nSection")
      div(class="homeWrapper")
        div(class="hero")
          h1(class="heroTitle") Simple and powerful </br> Json Storage
          p Start using our powerful and personal data storage service with our simple <span>RESTful API</span> today!
          div(class="heroButtons")
            button(id="getStarted") Get Started
            button(id="docs") See the Guides
          p(class="version") API version #{version}
    section(id="about" class="nSection")
      div(class="aboutWrapper")
        div(class="leftSide  side")
          h1 Store your Applications data with the most simple and secure Document Storage
          p <b>JsonDB</b> is a personal <b>key/value JSON Store</b> as a powerful and secure RESTful service. Protected behind authentication and API key requests, data is stored as JSON and can be deep linked. </br></br>Our permissioning model also allows specific paths to your store to become public to <b>share with other collaborators</b> in your team. </br></br> Our purpose is to provide a safe and simplified data storage service for users and projects of any size!
          button(class="start") Start
          button(class="docs") View the documentation
        div(class="rightSide  side")
          div(class="codeSnipet")
            div <i class="blue">$</i> curl <span id="autotype"></span>
            pre(id="preCode")
          div(class="browser")
            div(class="controlBar")
              div(class="controlButtons")
                div(class="bt")
                div(class="bt")
                div(class="bt")
            div(class="canvas")
              div(class="spinner")
                div(class="bounce1")
                div(class="bounce2")
                div(class="bounce3")
              div(class="pictures")
                div(class="mockupImage pic1")
                  div(class="mockupImageInfo")
                    div(class="numberContain")
                      h1 1
                div(class="mockupImage pic2")
                  div(class="mockupImageInfo")
                    div(class="numberContain")
                      h1 2
                div(class="mockupImage pic3")
                  div(class="mockupImageInfo")
                    div(class="numberContain")
                      h1 3
    section(class="fSection" id="features")
      div(class="iconWrapper")
        div(class="cardGroup")
          div(class="featureCard")
            <i class="icon-shield"></i>
            h4 Secure
            p Secure requests protected through SSL encryption and authenticated with API keys and client sessions.
          div(class="featureCard")
            <i class="icon-settings"></i>
            h4 Powerful API
            p Integrate with our API to quickly create, destroy, and control your data.
          div(class="featureCard")
            <i class="icon-monitor"></i>
            h4 Feature-rich control panel
            p Powerful tools to manage your data in our web client.
        div(class="cardGroup")
          div(class="featureCard")
            <i class="icon-code"></i>
            h4 Json Data Model
            p We use a data model based on Json, in this way the data is easier to read and write.
          div(class="featureCard")
            <i class="icon-image"></i>
            h4 Save Your Files
            p We provide a simple storage for files of any kind, store images, documents, etc. which will be written in your JsonDB database.
          div(class="featureCard")
            <i class="icon-book"></i>
            h4 Complete Guides
            p Information-rich Docs, know how JsonDB works from the core visiting our documentation.
    section(class="fSection" id="use")
      div(class="sectionWrapper")
        div(class="titleContainner")
          h1 Start Building
        div(class="waveContainner")
          svg(viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;")
            path(d="M-3.10,37.00 C148.14,157.39 349.20,-49.98 500.27,73.52 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #0575E6;")
        div(class="useContent")
          div(class="left side")
            div(class="content")
              h1 Simple Integration
              p Start making some requests and write, read and modify some data, it is as simple as a couple of code lines.
              div(class="selectionContainner")
                button(rel="post" class="exampleButton active") Create
                button(rel="get" class="exampleButton") Get
                button(rel="patch" class="exampleButton") Update
              p Learn about all the methods and pre-established endpoints to play with your documents, make a big leap to the next step by reading our guides.
              button(class="nextStep") Next
          div(class="right side")
            div(class="content")
              div(class="codeSnipet")
                div(id="post" class="codeShow active")
                  pre.
                    <span class="function">fetch(</span>https://api.jsondb.ml/username/path/to/endPoint/, {
                      <span class="key">method:</span> <span class="string">'POST'</span>,
                      <span class="key">headers:</span> {
                      <span class="comment">// example uses non-real token APIKey to `endPoint` path</span>
                      <span class="key">authorization:</span> <span class="string">'Token asDfRfgDfs-DFfdGDfG234-Dffrg45D6'</span>,
                      },
                      <span class="key">body:</span> {
                        <span class="key">"myFirstData":</span> <span class="number">123456</span>
                      }
                    }<span class="function">)</span>
                    .<span class="function">then(</span><span class="function">res</span> <span class="number">=&gt;</span> res.<span class="function">json()</span><span class="function">)</span>
                    .<span class="function">then(</span><span class="function">json</span> <span class="number">=&gt;</span> {
                      console.<span class="function">log(</span>json<span class="function">)</span>;
                    }<span class="function">)</span>;
                div(id="get" class="codeShow")
                  pre.
                    <span class="function">fetch(</span>https://api.jsondb.ml/username/path/to/endPoint/, {
                      <span class="key">method:</span> <span class="string">'GET'</span>,
                      <span class="key">headers:</span> {
                      <span class="comment">// example uses non-real token APIKey to `endPoint` path</span>
                      <span class="key">authorization:</span> <span class="string">'Token asDfRfgDfs-DFfdGDfG234-Dffrg45D6'</span>,
                      }
                    }<span class="function">)</span>
                    .<span class="function">then(</span><span class="function">res</span> <span class="number">=&gt;</span> res.<span class="function">json()</span><span class="function">)</span>
                    .<span class="function">then(</span><span class="function">json</span> <span class="number">=&gt;</span> {
                      console.<span class="function">log(</span>json<span class="function">)</span>;
                    }<span class="function">)</span>;                
                div(id="patch" class="codeShow")
                  pre.
                    <span class="function">fetch(</span>https://api.jsondb.ml/username/path/to/endPoint/, {
                      <span class="key">method:</span> <span class="string">'PATCH'</span>,
                      <span class="key">headers:</span> {
                      <span class="comment">// example uses non-real token APIKey to `endPoint` path</span>
                      <span class="key">authorization:</span> <span class="string">'Token asDfRfgDfs-DFfdGDfG234-Dffrg45D6'</span>,
                      },
                      <span class="key">body:</span> {
                        <span class="key">"mySecondData":</span> <span class="string">"How are you?"</span>
                      }
                    }<span class="function">)</span>
                    .<span class="function">then(</span><span class="function">res</span> <span class="number">=&gt;</span> res.<span class="function">json()</span><span class="function">)</span>
                    .<span class="function">then(</span><span class="function">json</span> <span class="number">=&gt;</span> {
                      console.<span class="function">log(</span>json<span class="function">)</span>;
                    }<span class="function">)</span>;
              div(class="codeSnipet result patchResult")
                div(id="postResult" class="codeShow cResult active")
                  pre.
                    {
                      <span class="key">"myFirstData":</span> <span class="number">123456</span>
                    }
                div(id="getResult" class="codeShow cResult")
                  pre.
                    {
                      <span class="key">"myFirstData":</span> <span class="number">123456</span>
                    }
                div(id="patchResult" class="codeShow cResult")
                  pre.
                    {
                      <span class="key">"myFirstData":</span> <span class="number">123456</span>,
                      <span class="key">"mySecondData":</span> <span class="string">"How are you?"</span>
                    }
        div(class="waveContainner")
          svg(viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;")
            path(d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #0575E6;")
    section(class="mSection" id="inspiration")
      div(class="titleContainner")
        div(class="buttonContainner")
          h1 What will you build with the most simple data storage engine in the world?
          button(class="getIn") Get In
    footer
      div(class="pantaloon")
      div(class="shoe")
        div(class="left")
          p {<span class="blue"> make it awesome </span>}
        div(class="right")
          p <i class="fas fa-code"></i>&ensp;with&ensp;<i class="fas fa-heart"></i>&ensp;by <b>Crawford.</b>&ensp;-&ensp;<b>JsonDB</b>
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/typeit@5.10.7/dist/typeit.min.js")
    script(src="./js/main.js")
