@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Roboto+Mono');

* {

  font-family: monospace;

}

html, body {

  width: 100%;
  margin: 0;

}

h1, h2, h3, h4, h5, h6 {

  color: #030201;
  text-transform: uppercase;

}

h2 {

  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.25;

}

p {

  margin-top: 0;
  margin-left: 50px;
  font-size: 14px;
  color: #131211;
  text-align: justify;
  line-height: 1.25;

}

.mw {

  max-width: 620px;
  padding-left: 20px;
  padding-right: 20px;

}

.mw ul {

  width: 100%;
  padding: 0;
  margin: 0;
  margin: 3px 0 10px 0;

}

.mw ul li {

  margin: 3px 0 10px 0;
  list-style: none;
  display: inline-block;
  width: calc(100% / 3);
  color: #999;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  letter-spacing: 4px;
  vertical-align: top;

}

.mw ul li:first-child {

  text-align: left;
  letter-spacing: 1px;

}

.mw ul li:last-child {

  text-align: right;
  letter-spacing: 1px;

}

.mw pre {

  margin-left: 50px;
  margin-top: 0;
  padding-left: 30px;
  color: #434241;

}
