@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

:root {
  --text-color: rgb(37, 37, 37);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

*::selection {
  color: rgb(5, 117, 230);
  background-color: rgb(238, 238, 238);
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3 ,h4, h5 {
  color: var(--text-color);
}

button {
  transition: .5s;
}

.nSection {
  width: 100%;
  height: 100%;
}

.mSection {
  width: 100%;
  height: 70%;
}

.fSection {
  width: 100%;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: white;
  display: flex;
  z-index: 10;
  /*box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);*/
}

nav .left {
  height: 100%;
}

nav .left .title {
  height: 100%;
  margin: 0 30px;
  display: inline-flex;
  align-items: center;
}

nav .left .title .green {
  color: rgb(104, 231, 93);
}

nav .left .title .blue {
  color: rgb(5, 117, 230);
}

nav .right {
  height: 100%;
  margin-left: auto;
}

nav .right .rightChilds {
  display: inline-block;
}

nav .right .clientArea {
  margin: 0 30px;
  height: inherit;
  display: inline-flex;
  align-items: center;
}

nav .right .clientArea button {
  padding: 10px 20px;
  background-color: rgb(5, 117, 230);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

nav .right .menu {
  height: inherit;
  display: inline-flex;
  align-items: center;
}

nav .right .menu li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

nav .right .menu li a {
  color: rgb(119, 119, 119);
  font-weight: bold;
  text-decoration: none;
  font-size: 13.33px;
}

nav .right .menu li a:hover {
  color: var(--text-color);
}

#home {
  background-image: url("../img/backgroundCity.png");
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.homeWrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(50, 165, 230);
  background: linear-gradient(to left, rgba(50, 165, 230, 0.85), rgba(5, 117, 230, 0.85));
  display: flex;
  align-items: center;
}

#home .hero {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#home .hero h1 {
  color: white;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
}

#home .hero p {
  color: rgb(185, 229, 255);
  margin: 30px 0;
  max-width: 500px;
  font-size: 19px;
}

#home .hero p span {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

#home .hero .heroButtons button {
  color: rgb(50, 165, 230);
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: white;
  padding: 15px 20px;
  margin: 10px 10px;
  cursor: pointer;
}

#home .hero .heroButtons button:last-child {
  background-color: #0575E6;
  color: white;
}

#home .hero .version {
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}

#about {
  background-color: white;
  min-height: 100%;
}

.aboutWrapper {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  margin: 30px;
  overflow: hidden;
}

.aboutWrapper .side {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.aboutWrapper .side h1 {
  margin: 60px 0;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  max-width: 95%;
}

.aboutWrapper .side p {
  margin: 30px 0;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  color: rgb(88, 87, 87);
  max-width: 95%;
}

.aboutWrapper .side button {
  background-color: #0575E6;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 10px 10px 10px 0;
  outline: none;
  cursor: pointer;
}

.aboutWrapper .side button:last-child {
  background-color: white;
  color: rgb(194, 194, 194);
  border: solid 1px rgb(194, 194, 194);
}

.aboutWrapper .side button:last-child:hover {
  color: var(--text-color);
  border: solid 1px var(--text-color);
}

.aboutWrapper .side .codeSnipet {
  background-color: rgb(34, 47, 64);
  width: calc(100% - 30px);
  color: white;
  font-family: monospace;
  border-radius: 5px;
  margin-top: 70px;
  margin-right: 30px;
  transition: .5s;
}

.aboutWrapper .side .codeSnipet div {
  color: white;
  font-family: monospace;
  padding: 20px;
}

.aboutWrapper .side .codeSnipet div span {
  color: white;
  font-family: monospace;
}

.aboutWrapper .side .codeSnipet div .blue {
  color: #0575E6;
  font-style: normal;
  font-family: monospace;
}

.aboutWrapper .side .codeSnipet pre {
  color: white;
  font-family: monospace;
  transition: .5s;
}

.aboutWrapper .side .codeSnipet pre span {
  color: white;
  font-family: monospace;
}

.aboutWrapper .side .codeSnipet pre .string { color: #0575E6; }
.aboutWrapper .side .codeSnipet pre .number { color: #9f7aed; }
.aboutWrapper .side .codeSnipet pre .boolean { color: #f2ed79; }
.aboutWrapper .side .codeSnipet pre .null { color: #f2ed79; }
.aboutWrapper .side .codeSnipet pre .key { color: #e97977; }

.aboutWrapper .side .browser {
  width: calc(100% - 30px);
  height: 300px;
  margin-right: 30px;
  margin-top: 30px;
  border: solid 1px #0575E6;
  border-radius: 5px;
  overflow: hidden;
}

.aboutWrapper .side .browser .controlBar {
  height: 20px;
  width: 100%;
  border-bottom: solid 1px #0575E6;
  display: flex;
  align-items: center;
}

.aboutWrapper .side .browser .controlBar .controlButtons {
  height: 100%;
  display: flex;
  align-items: center;
}

.aboutWrapper .side .browser .controlBar .controlButtons .bt {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: #0575E6;
  display: inline-block;
  border-radius: 50%;
}

.aboutWrapper .side .browser .controlBar .controlButtons .bt:first-child {
  margin-left: 6px;
}

.aboutWrapper .side .browser .canvas {
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
  align-items: center;
  position: relative;
}

.spinner {
  margin: 0 auto;
  width: 30px;
  text-align: center;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #0575E6;
  transition: .2s;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.canvas .pictures {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}

.canvas .pictures .mockupImage {
  height: 140px;
  width: 100px;
  display: inline-block;
  border-radius: 5px;
  margin: 0 15px;
  margin-top: 80px;
  background-color: #0575E6;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 1.2s;
}

.canvas .pictures .mockupImage:first-child {
  margin-left: auto;
}

.canvas .pictures .mockupImage:last-child {
  margin-right: auto;
}

.pic1 {
  background-image: url("https://drive.google.com/uc?export=view&id=161-aAD8qNOXbK1WN3ma1YGGcsnJ8NKej");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic2 {
  background-image: url("https://drive.google.com/uc?export=view&id=1KwU49FqxAUozR4291ZPLwD97-X9p7e8B");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic3 {
  background-image: url("https://drive.google.com/uc?export=view&id=17q7WJ8AGrzvfPM74TCL-5W8-MgJrSMM-");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas .mockupImage .mockupImageInfo {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(49, 164, 230, 0.7), rgba(5, 117, 230, 0.90));
  display: flex;
  align-items: center;
  text-align: center;
}

.mockupImageInfo .numberContain {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

.mockupImageInfo .numberContain h1 {
  color: white;
}

#features {
  background-color: white;
  align-items: center;
}

#features .iconWrapper {
  margin: 0 30px;
  width: calc(100% - 60px);
  border-top: solid 1px rgb(232, 232, 232);
  border-bottom: solid 1px rgb(232, 232, 232);
}

#features .iconWrapper .cardGroup {
  margin: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#features .iconWrapper .featureCard {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
}

#features .iconWrapper .featureCard i {
  font-size: 40px;
  color: #0575E6;
  font-weight: 100;
}

#features .iconWrapper .featureCard h4 {
  margin: 10px 0;
}

#features .iconWrapper .featureCard p {
  color: rgb(88, 87, 87);
  max-width: 300px;
  font-family: "Roboto", sans-serif;
}

#use .sectionWrapper {
  width: 100%;
}

#use .sectionWrapper .titleContainner {
  margin-top: 80px;
  margin-bottom: 35px;
}

#use .sectionWrapper .titleContainner h1{
  text-align: center;
  font-size: 40px;
}

#use .sectionWrapper .waveContainner {
  width: 100%;
  height: 200px;
}

#use .sectionWrapper .useContent {
  background-color: #0575E6;
  width: 100%;
  min-height: 430px;
}

#use .sectionWrapper .useContent .left {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}

#use .sectionWrapper .useContent .left .content {
  margin: 30px;
}

#use .sectionWrapper .useContent .left .content h1 {
  color: white;
  font-size: 25px;
}

#use .sectionWrapper .useContent .left .content p {
  color: white;
  margin: 10px 0;
}

#use .sectionWrapper .useContent .left .content .selectionContainner button {
  background-color: #dfdfdf;
  color: #0575E6;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  outline: none;
  margin: 30px 0;
  cursor: pointer;
  border-left: solid 1px #cfcfcf;
  border-right: solid 1px #cfcfcf;
  transition: .2s;
}

#use .sectionWrapper .useContent .left .content .selectionContainner button:hover {
  background-color: white;
}

#use .sectionWrapper .useContent .left .content .selectionContainner button:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
}

#use .sectionWrapper .useContent .left .content .selectionContainner button:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
}

#use .sectionWrapper .useContent .left .content .selectionContainner .active {
  background-color: white;
}

#use .sectionWrapper .useContent .left .content .nextStep {
  background-color: white;
  color: #0575E6;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin: 0 auto;
  border-radius: 8px;
  padding: 10px 20px;
  outline: none;
  margin: 30px 0;
  cursor: pointer;
  transition: .2s;
}

#use .sectionWrapper .useContent .right {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

#use .sectionWrapper .useContent .right .content {
  width: calc(100% - 60px);
  margin: 30px 30px;
}

#use .sectionWrapper .useContent .right .content .codeSnipet {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

#use .sectionWrapper .useContent .right .content .codeSnipet.result {
  margin-top: 20px;
}

#use .sectionWrapper .useContent .right .content .codeSnipet .codeShow {
  display: none;
  margin: 20px;
}

#use .sectionWrapper .useContent .right .content .codeSnipet .active {
  display: block;
}

#use .sectionWrapper .useContent .right .content .codeSnipet pre {
  font-family: monospace;
}

#use .sectionWrapper .useContent .right .content .codeSnipet pre span {
  font-family: monospace;
}

#use .sectionWrapper .useContent .right .content .codeSnipet pre .string { color: #0575E6; }
#use .sectionWrapper .useContent .right .content .codeSnipet pre .comment { color: #0575E6; }
#use .sectionWrapper .useContent .right .content .codeSnipet pre .function { color: #0575E6; }
#use .sectionWrapper .useContent .right .content .codeSnipet pre .number { color: #9f7aed; }
#use .sectionWrapper .useContent .right .content .codeSnipet pre .boolean { color: #f2ed79; }
#use .sectionWrapper .useContent .right .content .codeSnipet pre .null { color: #f2ed79; }
#use .sectionWrapper .useContent .right .content .codeSnipet pre .key { color: #f64c49; }

#inspiration {
  display: flex;
  align-items: center;
}

#inspiration .titleContainner {
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}

#inspiration .titleContainner h1 {
  font-size: 40px;
}

#inspiration .titleContainner .buttonContainner button {
  background-color: #0575E6;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 40px 10px 10px 0;
  outline: none;
  cursor: pointer;
}

footer .pantaloon {
  height: 400px;
  width: 100%;
  background-color: rgb(34, 47, 64);
}

footer .shoe {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

footer .shoe p {
  font-family: "Open Sans", sans-serif;
  color: rgb(88, 87, 87);
}

footer .shoe p i {
  font-size: 14px;
}

footer .shoe p .fa-heart {
  color: rgb(228, 89, 89);
}

footer .shoe p .fa-code {
  color: #0575E6;
}

footer .shoe .left {
  margin-left: 30px;
}

footer .shoe .right {
  margin-left: auto;
  margin-right: 30px;
}

footer .shoe .left p .blue {
  color: #0575E6;
  font-style: normal;
  font-weight: 600;
}
